- image_files = Dir.glob("source/images/*.png").map { |path| File.join("images", File.split(path).last) }
- image_files.map! { |x| %Q("#{x}") }

// Each wav file should have an accompanying mp3 and ogg
- wav_files = Dir.glob("source/sounds/*.wav").map { |path| File.join("sounds", File.split(path).last) }

- important_scripts = ['components/player_common'] # Scripts that need to load before others
// Add components
- scripts = %w(alien alien_shot banner explosion lives player player_body player_cannon player_shot score shield spaceship).map { |c| "components/#{c}" }
// Add Scenes
- scripts += %w(playfield).map { |s| "scenes/#{s}" }
// General scripts
- scripts += %w(game)

- async_script_files = scripts.map { |name| %Q("javascripts/#{name}.js") }
- async_important_script_files = important_scripts.map { |name| %Q("javascripts/#{name}.js") }

:javascript
  // Remember that MiddleMan will add hashes to asset files it identifies in the code below
  var imageFiles = [#{image_files.join(', ')}]
  // The line below turns 'images/banana.png' into 'banana: images/banana.png'
  var imageFileAssetHashNameMap = { #{ image_files.map{ |file| file_name_info = file.match(/(.+\/([^\/]+))(\..+)/); "#{file_name_info[2]}: #{file_name_info[1]}#{file_name_info[3]}" }.join(', ') } }

  // The line below turns 'sounds/foo.wav' into 'foo: ["sounds/foo.wav", "sounds/foo.mp3", "sounds/foo.ogg"]'
  var soundMap = { #{ wav_files.map{ |file| file_name_info = file.match(/(.+\/([^\/]+))\..+/); "#{file_name_info[2]}: #{%w(.wav .mp3 .ogg).map {|f| file_name_info[1] + f}}" }.join(', ') } }

  var assets = { images: imageFiles, audio: soundMap }
  var asyncScripts = [#{async_script_files.join(', ')}]
  var asyncImportantScripts = [#{async_important_script_files.join(', ')}]
