- asset_files = Dir.glob("source/images/*.png").map { |path| File.join("images", File.split(path).last) }
- asset_files.map! { |x| %Q("#{x}") }

- important_scripts = ['components/player_common'] # Scripts that need to load before others
- scripts = %w(player player_body player_cannon player_shot).map { |c| "components/#{c}" }
- scripts += %w(playfield).map { |s| "scenes/#{s}" }
- async_script_files = scripts.map { |name| %Q("javascripts/#{name}.js") }
- async_important_script_files = important_scripts.map { |name| %Q("javascripts/#{name}.js") }

:javascript
  var assets = [#{asset_files.join(', ')}]
  var async_scripts = [#{async_script_files.join(', ')}]
  var async_important_scripts = [#{async_important_script_files.join(', ')}]
