- asset_files = Dir.glob("source/images/*.png").map { |path| File.join("images", File.split(path).last) }
- asset_files.map! { |x| %Q("#{x}") }

- async_script_files = []
- %w[scenes components].each do |folder|
  - script_names = Dir.glob("source/javascripts/#{folder}/*").map { |path| File.basename(path, '.js.coffee') }
  - async_script_files += script_names.map { |name| %Q("javascripts/#{folder}/#{name}.js") }
:javascript
  var assets = [#{asset_files.join(', ')}]
  var async_scripts = [#{async_script_files.join(', ')}]
